* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #213555;
    --secondary-color: #D8C4B6;
    --background-color: #F5EFE7;
    --text-color: #3E5879;
}

body {
    display: flex;
    background-color: var(--background-color);
    overflow: hidden;
}

main {
    flex-grow: 1;
    padding-left: 6rem;
    padding-right: 6rem;
}

.side-nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;

    & ul {
        list-style: none;
        padding: 0;
        margin-top: 50px;
    }

    & li {
        position: relative;
        padding: 10px;
        cursor: pointer;
    }


    & a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--background-color);
    }

    & li:hover {
        background-color: #234168;
        cursor: pointer;
        border-radius: 10px;
    }

    & li:active {
        background-color: var(--text-color);
    }
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.budget-summary {
    display: flex;
    justify-content: space-evenly;
    background-color: #fcf8f5;
    border-radius: 15px;
    color: var(--text-color);
    margin-bottom: 40px;
}

.income,
.expenses,
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dollar {
    font-size: 2rem;
    font-weight: bold;
}

.income-amount,
.expenses-amount,
.left-amount {
    font-size: 3rem;
    font-weight: bold;
}

.income-lbl,
.expenses-lbl,
.left-lbl {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.categories {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background-color: #fcf8f5;
    border-radius: 15px;
}

.category-title {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px;
    width: 190px;
}

.shopping,
.food,
.drinks,
.entertainment {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 2rem;
}

.btn-new-transaction {
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
    color: white;
    font-size: 80px;
    border-radius: 100%;
    margin: auto;
    margin-top: 50px;

    &:hover {
        cursor: pointer;
        background-color: #234168;
    }

    &:active {
        background-color: var(--text-color);
        transform: rotate(40deg);
    }

}

.new-transaction {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.new-transaction-content {
    display: flex;
    background-color: var(--background-color);
    margin: 10% auto;
    width: 500px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
}

.btn-transaction-close {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
}

.transaction-amount {
    margin-top: 20px;
    font-size: 3.5rem;

    & .transaction-amount-input {
        border: none;
        outline: none;
        field-sizing: content;
        min-width: 50px;
        max-width: 200px; 
        font-size: 4.5rem;
        text-align: center;
        background-color: var(--background-color);
    }

}

.transaction-type {
    display: flex;
    gap: 5rem;
    margin-top: 20px;
}

.transaction-expense, .transaction-income {
    border: none;
    outline: none;
    background-color: var(--background-color);
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px;
    
    &:hover {
        cursor: pointer;
        background-color: var(--secondary-color);
    }

    &:active {
        background-color: #e5d1c2;
    }
}

.transaction-note {
    font-size: 2rem;
    background-color: var(--background-color);
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 10px;
    width: 80%;
    border-bottom: 1px solid #000;
}

.transaction-category {
    margin-top: 20px;
    display: flex;
    border: none;
    border-bottom: 1px solid #000;
    width: 80%;
    gap: 5px;
    padding: 10px;
    font-size: 2rem;
    
    & .category {
        border: none;
        outline: none;
        background-color: var(--background-color);
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
}

.btn-transaction-save {
    margin: 40px 0 10px 0;
    padding: 15px;
    font-size: 2rem;
    width: 80%;
    border-radius: 30px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    

    &:hover {
        cursor: pointer;
        background-color: #234168;
    }

    &:active {
        background-color: var(--text-color);
    }
}


